body {
    margin: auto;
    max-width: 45em;
    font-size: 120%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

li {
  margin: 10px 0;
}

input[type=submit] {
    font-size: 60%;
}

.header {
    background: #F9FFAB;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
}
