<title>Etusivu</title>
<h1>Etusivu</h1>
<b>Tervetuloa!</b>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/kirjaudu_ulos">Kirjaudu ulos</a>
{% else %}
<form action="/kirjautuminen" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<form action="/rekisterointi">
<input type="submit" value="Rekisteröidy">
</form>
{% endif %}
<br>
<p>
Reseptiesi määrä: {{ count }}
<hr>
{% for recipe in recipes %}
Nimi: {{ recipe[1].replace("„", "ä") }} <br>
Hinta: {{ recipe[2] }} € <br>
Luotu: {{ recipe[3].strftime("%d.%m.%Y") }} <br>
<a href="/resepti/{{ recipe[0] }}">Näytä resepti</a>
<hr>
{% endfor %}
{% if session.username %}
<a href="/uusiresepti">Lisää resepti</a>
{% endif %}
