<form action="/lisaaaines" method="POST">
<h2>Lisää ruoka-aine</h2>
<p>
<h3>Ruoka-aineen nimi ja määrä: </h3>
Muodossa: makaroni (400g), ruokakerma (2 dl)<br>
<textarea name="nimimaara" rows="1" cols="40"></textarea> <br>
<p>
<h3>Ruoka-aineen hinta: </h3>
Muodossa: 1.25 tai 0.80 (1,25€ ja 0,80€)<br>
<textarea name="hinta" rows="1" cols="40"></textarea>
<p>
Ruoka-aineiden hintoja voit etsiä <a href="https://www.foodie.fi/">Foodie.fi:stä</a>
<p>
<input type="submit" value="Tallenna">
</form>
<form action="/uusiresepti">
<input type="submit" value="Peruuta" />
</form>
