{% extends "layout.html" %}
{% block content %}

<h2>{{ nimi_ohje_paivays[0][0] }}</h2>
Luotu: {{ nimi_ohje_paivays[0][2].strftime("%d.%m.%Y") }}
<p>
<h3>Ainekset:</h3>
<ul>
{% for aines in aines_hinta_maara %}
<li>
  <span style="float:left;">
    {{ aines[2] }} x {{ aines[0] }}
  </span>
  <span style="float:right;">
    Yhteensä: {{ aines[1]*aines[2] }}€  -  {{ aines[1] }}€/kpl
  </span>
{% endfor %}
</ul>
<p>
<h3>Ohjeet:</h3>
{{ nimi_ohje_paivays[0][1].replace("„", "ä") }}
<br>
<h3>Hinta yhteensä: {{ yhteishinta }}€</h3>
<br>
Reseptin tekijä: {{ nimi_ohje_paivays[0][3] }}<br>
<br>
<br>
{% if session.username == nimi_ohje_paivays[0][3] %}
<form action="/deleterecipe/{{ id }}" method="POST">
<input type="submit" value="Poista resepti">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
{% endif %}
<form action="/">
<input type="submit" value="Takaisin" />
</form>

{% endblock %}
